.card {
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 160px;
  object-fit: contain;
  background: #fff;
  padding: 10px;
  transition:transform 0.4s ease;
}

.card-body {
  padding: 12px;
}

.holder {
  max-width: 1300px;
  margin: auto;
  width: 100%;
}
.add-to-cart-btn,.buy-btn{
    font-size: 12px;
}
@media (max-width: 992px) {
  .holder {
    width: 95%;
  }
}

#products .btn:hover {
  opacity: 0.9;
  transform: scale(1.03);
}
