/* BASE LOADER */
.video-loader {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Fade animation */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

/* Inline loader (default) */
.video-loader.inline {
  position: relative;
}

/* Video size */
.video-loader video {
  width: 80px; /* small size for inline loader */
  height: auto;
}

/* FULL SCREEN LOADER */
.video-loader.fullscreen {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  background-color: #ffffff;
  z-index: 9999;
}

/* Bigger video for fullscreen */
.video-loader.fullscreen video {
  /* width: 160px; */
  width: 50vh;
}

/* Fade states */
.video-loader.show {
  opacity: 1;
  visibility: visible;
}

.video-loader.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
